#root {
  height: 100vh;
  width: 100vw;
}

.black {
  color: #2a2a2a;
}

.white {
  color: white;
}

.App {
  height: 100%;
  font-family: "Raleway", sans-serif;
  width: 100%;
}

.App-nav {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  justify-content: flex-end;
  padding-top: 15px;
}

.App-nav-header {
  margin-right: 20px;
}

.Home {
  background: url("https://s3.amazonaws.com/voyage18-images/00.JPG") no-repeat
    center center fixed;
  background-size: cover;
}
